{
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "env": {
    "browser" : true
  },
  "globals": {},
  "rules": {
    "key-spacing"          : "off",
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"],
    "comma-dangle"         : "off",
    "no-undef"             : "off",
    "indent"               : ["warn", 2]
  }
}
