@import 'styles/variables.scss';

.customer-wallet-form {

  .section-head {
    &__name {
      font-weight: bold;
      margin-bottom: 15px;
    }

    &__price-usd {
      font-weight: 100;
      font-size: 25pt;
    }
  }

  .section-content {
    border: none;


    .form {

      .payment-currency {

        &__buttons {
          display: flex;
          flex-wrap: wrap;
          margin: 5px -5px;

          .button-active, .button:hover {
            color: $blue;
            background: $lightBlue;
          }

          .button {
            cursor: pointer;
            width: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            padding: 15px 20px;
            border-radius: 3px;

            &-icon {
              width: 25px;
              height: 25px;
            }

            &-label {
              font-weight: bold;
            }
          }
        }
      }

      .review {
        &-name {
          margin-bottom: 10px;
        }

        &-fields {

        }

        &-rating {
          font-size: 25px;
        }
      }

      .button-container {
        background: $backgroundColor;

        .container {
          border-top: 1px solid $borderColor;
          display: flex;
          justify-content: center;
        }

        .submit-button {
          width: 90%;
        }
      }

      // buttons
      .amount-btc__wrapper {
        max-width: 400px;
        display: flex;
        align-items: center;

        .equally {
          margin: 0 10px
        }
      }
    }
  }
}
