.settings {
  .settings-header {
    text-align: center;
    padding: 20px 0 30px;
    font-size: 15pt;
  }

  &-label {
    font-size: 13pt;
    margin-bottom: -10px;
  }

  .settings-section {
    padding: 20px 0 15px;
    text-align: center;

    &__buttons {
      padding-top: 20px;
    }
  }
}