.customer-wallet-form {
  padding: 0 10px 0 10px;

  .stars {
    font-size: 25pt;
  }
}

.btn__crypto-selector {
  margin: 12px;
}

.amount-btc__wrapper {
  display: flex;
  align-items: center;
  max-width: 200px;

  >span {
    display: inline-block;
    font-size: 18px;
    margin: 0 15px;
  }
}
