@import 'styles/variables.scss';

.recent-transaction {
  .section-head {
    .title {
      margin-bottom: 10px;
    }

    .address {
      font-size: 15pt;
    }

    .price {
      &-title {
        margin-top: 10px;
      }

      &-spent {
        display: flex;
        align-items: flex-end;

        &__item {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .section-content {

    .transaction-info__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .review {
      padding-top: 10px;

      &-item {
        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 10px;
        }
      }
    }

    .edit-review {
      padding-top: 10px;

      .edit-form {
        &__title {
          margin-bottom: 10px;
        }

        &__rating {
          font-size: 25px;
        }

        &__buttons {
          display: flex;
          flex-wrap: wrap;

          .button-item {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
