@import 'base.scss';
@import 'variables.scss';
// libs
@import 'react-redux-toastr/src/styles/index';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: $backgroundColor;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar-logo {
  max-width: 130px;
}

.page-container {
  min-height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;

  @media screen and (max-width: 320px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section-content {
  background: rgb(255, 255, 255);
}

.color-main {
  color: $mainTextColor;
}

.color-light {
  color: $lightTextColor;
}

.font-smaller {
  font-size: smaller;
}

.container-border-bottom {
  border-bottom: 1px solid $borderColor;
}

.container-border-top {
  border-top: 1px solid $borderColor;
}
