@import 'base.scss';
@import 'constants.scss';
// libs
@import 'react-redux-toastr/src/styles/index';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page-container {
  min-height: 100vh;
  background: $backgroundColor;
}

.section-head, .section-content {
  padding: 15px 15px 15px 5%;

  @media screen and (max-width: 320px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section-content {
  background: rgb(255, 255, 255);
  border-top: 1px solid $borderColor;
}

.color-main {
  color: $mainTextColor;
}

.color-light {
  color: $lightTextColor;
}
