// constants
$mainColor: #2F3240;
$backgroundColor: #f6f8fb;
$backgroundColorDark: #D6D7DD;
$borderColor: #D6D7DD;
$borderColorDark: #9EA0A9;
$ratingColor: #FF0044;
$lightTextColor: #6F717F;
$mainTextColor: #353747;
$lightBlue: #EFF0F5;
$blue: #3051E2;
$lightOrange: #FCDC9A;
$orange: #FDC44A;
