.wallet {
  .wallet-header {
    display: flex;
    justify-content: center;
    padding: 50px 15px 100px 15px;

    .logo {
      height: 50px;
    }
  }

  .title {
    text-align: center;
    font-size: 16pt;
    padding: 20px 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}
