@import 'styles/variables.scss';

.checkout {
  .checkout-vendor {

    .section-content {
      border: 1px solid $borderColor;
      border-radius: 3px;
    }

    .product {

      &-info {
        padding: 10px;
        border-bottom: 1px solid $borderColor;

        &__name {
          font-weight: bold;
        }

        &__price {
          font-weight: 100;
          margin-top: 5px;
        }

        &__rating {
          font-size: 25px;
        }
      }

      &-img{
        padding: 15px 10px;
        display: flex;
        justify-content: center;

        &__wrapper {
          max-width: 200px;

          .img {
            width: 100%;
          }
        }
      }
    }

    .payment-label {
      margin: 20px 0 10px;
      font-weight: bold;
    }

    .payment {
      &-item {}
    }

    &__button {
      padding: 15px 0;
    }
  }
}
