.profile {
  -webkit-margin-before: 1em;

  &-header {
    margin-bottom: 30px;

    &__name {
      color: rgb(0, 188, 212);
      font-size: 20px;
    }

    &__info {
      font-size: 12px;
      color: #808080;
    }
  }

  &-review {

    &__wrapper {
      margin-bottom: 20px;
    }

    &__header {
      display: flex;
      align-items: center;
      max-width: 300px;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  }
}
